body.login {}
body.login div#login {}
body.login div#login h1 { display: none; }
body.login div#login h1 a { }
body.login div#login form#loginform { padding: 26px; 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot { display: none; }
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {}
body.login div#login p#nav { display: none; }
body.login div#login p#nav a {}
body.login div#login p#backtoblog { display: none; }
body.login div#login p#backtoblog a {}