.section{
	padding: 20px 0 0;
}
.section h1{
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 25px;
	line-height: 23px;
}
@media only screen 
and (max-width: 768px){
	.section h1{
		font-size: 28px;
	}
}




.expertise{
	margin: 0 auto;
	float: none;
}
.expertise .slick-slide .jthumb{
	margin: 5px auto;
	width: 122px;
	height: 122px;
	background: #8CC441;
	border: solid #eeeeee 5px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.expertise .slick-slide:hover .jthumb{
	background: #547F3A;
	border: solid #ffffff 5px;
	-webkit-box-shadow: 0px 0px 0px 5px #547F3A;
	   -moz-box-shadow: 0px 0px 0px 5px #547F3A;
	     -o-box-shadow: 0px 0px 0px 5px #547F3A;
	        box-shadow: 0px 0px 0px 5px #547F3A;
}
.expertise .slick-slide .jthumb img{
	width: 100%;
}
.expertise .slick-slide:hover .jthumb img{
	-webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);	
}
.expertise .slick-slide h5{
	line-height: 18px;
	color: #231F20;
	font-weight: 700;
}
.expertise .slick-slide:hover h5{
	color: #547F3A;
}

.expertise .slick-slide .jthumb,
.expertise .slick-slide .jthumb img,
.expertise .slick-slide h5{
	-webkit-transition: all 0.8s ease 0s;
       -moz-transition: all 0.8s ease 0s;
         -o-transition: all 0.8s ease 0s;
            transition: all 0.8s ease 0s;
}
.expertise .slick-slide:hover .jthumb,
.expertise .slick-slide:hover .jthumb img,
.expertise .slick-slide:hover h5{
	-webkit-transition: all 0.4s ease 0s;
       -moz-transition: all 0.4s ease 0s;
         -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}



.news-events{
	padding-bottom: 30px !important;
}

.client{
	height: 350px;
	background: url(images/carousel-background.jpg) center 0 no-repeat;
}

.our-clients{
	padding: 40px 0;
}






.scarousel{
	margin-top: 20px;
	margin-bottom: 20px;
}
.scarousel .slick-prev,
.scarousel .slick-next{
	width: 40px;
	height: 40px;
	color: transparent;
	background: #8CC441 url(../images/control.png) 0 -69px no-repeat;
	position: absolute;
	border: none;
	top: 50%;
	margin-top: -20px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.scarousel .slick-prev{	left: -30px; }
.scarousel .slick-next{ 
	right: -34px;
	background-position: -40px -69px;
}
.scarousel .slick-disabled{ 
	cursor: default;
	background-color: rgba(140,196,65,.5);
}



.scarousel img{
	margin: 0 auto !important;
}